apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.1 (a9d05d509)
  creationTimestamp: null
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend
  strategy:
    - type: RollingUpdate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.1 (a9d05d509)
      creationTimestamp: null
      labels:
        io.kompose.service: frontend
    spec:
      containers:
        - image: bramco/brams6frontend
          name: frontend
          env:
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: frontendsecret
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: frontendsecret
                  key: GOOGLE_CLIENT_SECRET
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: frontendsecret
                  key: JWT_SECRET
            - name: NEXTAUTH_URL
              valueFrom:
                secretKeyRef:
                  name: frontendsecret
                  key: NEXTAUTH_URL
            - name: BackendURL
              valueFrom:
                secretKeyRef:
                  name: frontendsecret
                  key: BackendURL
          ports:
            - containerPort: 3000
          resources: {}
      hostname: frontend
      restartPolicy: Always
status: {}
